<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="images/favicon.ico" type="image/ico" />

  <title>Gentelella Alela! | </title>

  <!-- Bootstrap -->
  <link href="~/Template/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="~/Template/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- NProgress -->
  <link href="~/Template/vendors/nprogress/nprogress.css" rel="stylesheet">
  <!-- iCheck -->
  <link href="~/Template/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

  <!-- bootstrap-progressbar -->
  <link href="~/Template/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
  <!-- JQVMap -->
  <link href="~/Template/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
  <!-- bootstrap-daterangepicker -->
  <link href="~/Template/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link href="~/Template/build/css/custom.min.css" rel="stylesheet">
  <link href="~/css/site.css" rel="stylesheet">
  <!-- bootstrap-wysiwyg -->
  <link href="~/Template/vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">
  <!-- Select2 -->
  <link href="~/Template/vendors/select2/dist/css/select2.min.css" rel="stylesheet">
  <!-- Switchery -->
  <link href="~/Template/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
  <!-- starrr -->
  <link href="~/Template/vendors/starrr/dist/starrr.css" rel="stylesheet">
  <!-- Datatables -->
  <link href="~/Template/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="~/Template/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
  <link href="~/Template/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
  <link href="~/Template/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
  <link href="~/Template/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

</head>

<body class="nav-md ">
  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
          <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Gentelella Alela!</span></a>
          </div>

          <div class="clearfix"></div>

          <!-- menu profile quick info -->
          <div class="profile clearfix">
            <div class="profile_pic">
              <img src="~/Template/production/images/img.jpg" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
              <span>Welcome,</span>
              <h2>John Doe</h2>
            </div>
          </div>
          <!-- /menu profile quick info -->

          <br />

          <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
              <h3>Nhân viên</h3>
              <ul class="nav side-menu">
                <li><a href="~/LoaiDichVus"><i class="fa fa-th-list"></i>LOẠI DỊCH VỤ</a></li>
                <li><a href="~/DiaDiem_DuLichs"><i class="fa fa-map-marker"></i> ĐỊA ĐIỂM DU LỊCH</a></li>
                <li><a href="~/BaiViet_DiaDiems"><i class="fa fa-file-photo-o"></i> BÀI VIẾT ĐỊA ĐIỂM</a></li>
                <li><a href="~/Hinh_DiaDiemDuLichs"><i class="fa fa-picture-o"></i> HÌNH ĐỊA ĐIỂM DU LỊCH</a></li>
                <li><a href="~/DuKhachs"><i class="fa fa-user"></i> DU KHÁCH</a></li>
                <li><a href="~/NhaCungCaps"><i class="fa fa-users"></i>NHÀ CUNG CẤP</a></li>
              </ul>


              <h3>Nhà cung cấp</h3>
              <ul class="nav side-menu">
                <li><a href="~/DichVus"><i class="fa fa-gears"></i> DỊCH VỤ</a></li>
                <li><a href="~/HopDongs"><i class="fa fa-file-text-o"></i> HỢP ĐỒNG</a></li>
              </ul>

              <h3>du khách</h3>
              <ul class="nav side-menu">
                <li><a href="~/HopDongs"><i class="fa fa-file-text-o"></i> HỢP ĐỒNG</a></li>
              </ul>
              <h3>Đây là trang login vô đăng ký sẽ sử dụng chức năng này</h3>
              <ul class="nav side-menu">
                <li><a href="~/NhanViens"><i class="fa fa-user"></i>NHÂN VIÊN</a>
                <li><a href="~/NhaCungCaps"><i class="fa fa-users"></i>NHÀ CUNG CẤP</a></li>
                </li>
              </ul>
            </div>

          </div>
          <!-- /sidebar menu -->


        </div>
      </div>

      <!-- top navigation -->
      <div class="top_nav">
        <div class="nav_menu">
          <nav>
            <div class="nav toggle">
              <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
              <li class="">
                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                  aria-expanded="false">
                  <img src="~/Template/production/images/img.jpg" alt="">John Doe
                  <span class=" fa fa-angle-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-usermenu pull-right">
                  <li><a href="javascript:;"> Profile</a></li>
                  <li>
                    <a href="javascript:;">
                      <span class="badge bg-red pull-right">50%</span>
                      <span>Settings</span>
                    </a>
                  </li>
                  <li><a href="javascript:;">Help</a></li>
                  <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                </ul>
              </li>

              <li role="presentation" class="dropdown">
                <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-envelope-o"></i>
                  <span class="badge bg-green">6</span>
                </a>
                <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                  <li>
                    <a>
                      <span class="image"><img src="~/Template/production/images/img.jpg" alt="Profile Image" /></span>
                      <span>
                        <span>John Smith</span>
                        <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                        Film festivals used to be do-or-die moments for movie makers. They were where...
                      </span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <span class="image"><img src="~/Template/production/images/img.jpg" alt="Profile Image" /></span>
                      <span>
                        <span>John Smith</span>
                        <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                        Film festivals used to be do-or-die moments for movie makers. They were where...
                      </span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <span class="image"><img src="~/Template/production/images/img.jpg" alt="Profile Image" /></span>
                      <span>
                        <span>John Smith</span>
                        <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                        Film festivals used to be do-or-die moments for movie makers. They were where...
                      </span>
                    </a>
                  </li>
                  <li>
                    <a>
                      <span class="image"><img src="~/Template/production/images/img.jpg" alt="Profile Image" /></span>
                      <span>
                        <span>John Smith</span>
                        <span class="time">3 mins ago</span>
                      </span>
                      <span class="message">
                        Film festivals used to be do-or-die moments for movie makers. They were where...
                      </span>
                    </a>
                  </li>
                  <li>
                    <div class="text-center">
                      <a>
                        <strong>See All Alerts</strong>
                        <i class="fa fa-angle-right"></i>
                      </a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <!-- /top navigation -->

      <!-- page content -->
      <div class="right_col" role="main">
        <!-- top tiles -->

        <!-- /top tiles -->

        @RenderBody()



      </div>
      <!-- /page content -->

      <!-- footer content -->
      <footer>
        <div class="pull-right">
          WEBSITE DU LỊCH ĐIỆN TỬ - Được thiết kế và chỉnh sửa bởi: <a href="https://www.facebook.com/TanDatTr/"> TRẦN
            ĐẠT</a>
        </div>
        <div class="clearfix"></div>
      </footer>
      <!-- /footer content -->
    </div>
  </div>

  <!-- jQuery -->
  <script src="~/Template/vendors/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="~/Template/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- FastClick -->
  <script src="~/Template/vendors/fastclick/lib/fastclick.js"></script>
  <!-- NProgress -->
  <script src="~/Template/vendors/nprogress/nprogress.js"></script>
  <!-- Chart.js -->
  <script src="~/Template/vendors/Chart.js/dist/Chart.min.js"></script>
  <!-- gauge.js -->
  <script src="~/Template/vendors/gauge.js/dist/gauge.min.js"></script>
  <!-- bootstrap-progressbar -->
  <script src="~/Template/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
  <!-- iCheck -->
  <script src="~/Template/vendors/iCheck/icheck.min.js"></script>
  <!-- Skycons -->
  <script src="~/Template/vendors/skycons/skycons.js"></script>
  <!-- Flot -->
  <script src="~/Template/vendors/Flot/jquery.flot.js"></script>
  <script src="~/Template/vendors/Flot/jquery.flot.pie.js"></script>
  <script src="~/Template/vendors/Flot/jquery.flot.time.js"></script>
  <script src="~/Template/vendors/Flot/jquery.flot.stack.js"></script>
  <script src="~/Template/vendors/Flot/jquery.flot.resize.js"></script>
  <!-- Flot plugins -->
  <script src="~/Template/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
  <script src="~/Template/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
  <script src="~/Template/vendors/flot.curvedlines/curvedLines.js"></script>
  <!-- DateJS -->
  <script src="~/Template/vendors/DateJS/build/date.js"></script>
  <!-- JQVMap -->
  <script src="~/Template/vendors/jqvmap/dist/jquery.vmap.js"></script>
  <script src="~/Template/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
  <script src="~/Template/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
  <!-- bootstrap-daterangepicker -->
  <script src="~/Template/vendors/moment/min/moment.min.js"></script>
  <script src="~/Template/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>

  <!-- Custom Theme Scripts -->
  <script src="~/Template/build/js/custom.min.js"></script>
  <!-- Datatables -->
  <script src="~/Template/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="~/Template/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
  <script src="~/Template/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
  <script src="~/Template/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
  <script src="~/Template/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
  <script src="~/Template/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
  <script src="~/Template/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
  <script src="~/Template/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
  <script src="~/Template/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
  <script src="~/Template/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
  <script src="~/Template/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
  <script src="~/Template/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
  <script src="~/Template/vendors/jszip/dist/jszip.min.js"></script>
  <script src="~/Template/vendors/pdfmake/build/pdfmake.min.js"></script>
  <script src="~/Template/vendors/pdfmake/build/vfs_fonts.js"></script>
  <script src="~/js/ChangeUrlToFile.js"></script>
  



  <script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
  <script>
    function displayResult() {
      var startDate = document.getElementById("StartDate").value;
      var endDate = document.getElementById("EndDate").value;
      if ((Date.parse(endDate) <= Date.parse(startDate))) {
        alert('Ngày kết thúc phải "lớn hơn" ngày bắt đầu');
        document.getElementById("EndDate").value = "";
      }
    }

    function ShowImgPreview(imageUpload, imagePreview) {
      if (imageUpload.files && imageUpload.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          $(imagePreview).attr('src', e.target.result);
        }
        reader.readAsDataURL(imageUpload.files[0]);
      }
    }

    ClassicEditor
      .create(document.querySelector('#mota'), {
        // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
      })
      .then(editor => {
        window.editor = editor;

      })
      .catch(err => {
        console.error(err.stack);
      });


    
  </script>

  <script src="~/js/site.js"></script>
  <script src="~/js/citiesLoad.js"></script>
</body>

</html>
