@using Microsoft.AspNetCore.Http;
@using System.Data;  
@{
	if (Context.Session.GetString("userName") == null)
	{
		Context.Response.Redirect("/Login/Index");
	}
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DirEngine - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alex+Brush" rel="stylesheet">

    <link rel="stylesheet" href="~/TourismTemplate/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/TourismTemplate/css/animate.css">
    
    <link rel="stylesheet" href="~/TourismTemplate/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/TourismTemplate/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/TourismTemplate/css/magnific-popup.css">

    <link rel="stylesheet" href="~/TourismTemplate/css/aos.css">

    <link rel="stylesheet" href="~/TourismTemplate/css/ionicons.min.css">

    <link rel="stylesheet" href="~/TourismTemplate/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/TourismTemplate/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="~/TourismTemplate/css/flaticon.css">
    <link rel="stylesheet" href="~/TourismTemplate/css/icomoon.css">
    <link rel="stylesheet" href="~/TourismTemplate/css/style.css">
    
  </head>
  <body>
    
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" asp-action="Index_Home">AzyTravel.</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a href="~/LayoutTourism" class="nav-link">TRANG CHỦ</a></li>
          <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
          <li class="nav-item"><a href="~/LayoutDestination" class="nav-link">destination</a></li>
          <li class="nav-item"><a href="~/TourismTemplate/hotel.html" class="nav-link">Hotels</a></li>
          <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
          <li class="nav-item cta"><a href="contact.html" class="nav-link"><span>Add listing</span></a></li>
        </ul>
      </div>
    </div>
  </nav>
    <!-- END nav -->
    
    @* <div class="hero-wrap js-fullheight" style="background-image: url('/TourismTemplate/images/bg_1.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-9 ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
            <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><strong>KHÁM PHÁ <br></strong>thành phố mơ ước của bạn</h1>
            <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Tự do du lịch</br>Chọn những nơi tuyệt vời để dừng chân, ăn uống, tự khám phá những điều thú vị bằng một cách mới mẻ như những người chuyên gia</p>
            <div class="block-17 my-4">
              <form action="" method="post" class="d-block d-flex">
                <div class="fields d-block d-flex">
                  <div class="textfield-search one-third">
                  	<input type="text" class="form-control" placeholder="vd: ăn uống, tham quan, lưu trú">
                  </div>
                  <div class="select-wrap one-third">
                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                    <select name="" id="" class="form-control" placeholder="Keyword search">
                      <option value="">Thành Phố</option>
                      <option value="">San Francisco USA</option>
                      <option value="">Berlin Germany</option>
                      <option value="">Lodon United Kingdom</option>
                      <option value="">Paris Italy</option>
                    </select>
                  </div>
                </div>
                <input type="submit" class="search-submit btn btn-primary" value="Search">  
              </form>
            </div>
            <p>Hoặc chọn các loại dịch vụ bạn cần bên dưới</p>
            <p class="browse d-md-flex">
            	<span class="d-flex justify-content-md-center align-items-md-center"><a href="#"><i class="flaticon-fork"></i>Nhà hàng</a></span>
            	<span class="d-flex justify-content-md-center align-items-md-center"><a href="#"><i class="flaticon-hotel"></i>Lưu trú</a></span> 
            	<span class="d-flex justify-content-md-center align-items-md-center"><a href="#"><i class="flaticon-meeting-point"></i>Điịa điểm vui chơi, khám phá</a></span> 
            </p>
          </div>
        </div>
      </div>
    </div> *@
	
    @* <section class="ftco-section services-section bg-light">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-guarantee"></span></div></div>
              <div class="media-body p-2 mt-2">
                <h3 class="heading mb-3">Đảm Bảo Về Giá </h3>
                <p>Mang lại mức giá phải chăng mà vẫn đảm báo chất lượng</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-like"></span></div></div>
              <div class="media-body p-2 mt-2">
                <h3 class="heading mb-3">Trải Nghiệm Tuyệt Vời</h3>
                <p>Đảm bảo việc công ty luôn cung cấp những dịch vụ xuất sắc nhất đến khách hàng</p>
              </div>
            </div>    
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-detective"></span></div></div>
              <div class="media-body p-2 mt-2">
                <h3 class="heading mb-3">Top Công Ty Du Lịch</h3>
                <p>Được đánh giá cao về các dịch vụ đã và đang cung cấp với tiêu chí </br> "sự hài lòng của bạn là niềm hạnh phúc của chúng tôi"</p>
              </div>
            </div>      
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-support"></span></div></div>
              <div class="media-body p-2 mt-2">
                <h3 class="heading mb-3">Hỗ Trợ 24/7</h3>
                <p>Luôn giải đáp thắc mắc cũng như hỗ trợ khách hàng 24/7</p>
              </div>
            </div>      
          </div>
        </div>
      </div>
    </section> *@

    @RenderBody();



    <footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">AzyTravel</h2>
              <p>Mang đến trải nghiệm tuyệt vời dành cho bạn</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Thông tin về chúng tôi</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Về chúng tôi</a></li>
                <li><a href="#" class="py-2 d-block">Dịch vụ</a></li>
                <li><a href="#" class="py-2 d-block">Trở thành đối tác</a></li>
                <li><a href="#" class="py-2 d-block">Chính sách</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Đặt câu hỏi / Hỗ trợ khách hàng</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
	                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="~/TourismTemplate/js/jquery.min.js"></script>
  <script src="~/TourismTemplate/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="~/TourismTemplate/js/popper.min.js"></script>
  <script src="~/TourismTemplate/js/bootstrap.min.js"></script>
  <script src="~/TourismTemplate/js/jquery.easing.1.3.js"></script>
  <script src="~/TourismTemplate/js/jquery.waypoints.min.js"></script>
  <script src="~/TourismTemplate/js/jquery.stellar.min.js"></script>
  <script src="~/TourismTemplate/js/owl.carousel.min.js"></script>
  <script src="~/TourismTemplate/js/jquery.magnific-popup.min.js"></script>
  <script src="~/TourismTemplate/js/aos.js"></script>
  <script src="~/TourismTemplate/js/jquery.animateNumber.min.js"></script>
  <script src="~/TourismTemplate/js/bootstrap-datepicker.js"></script>
  @* <script src="~/TourismTemplate/js/jquery.timepicker.min.js"></script> *@
  <script src="~/TourismTemplate/js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="~/TourismTemplate/js/google-map.js"></script>
  <script src="~/TourismTemplate/js/main.js"></script>
  <script src="~/js/citiesLoad.js"></script>
    
  </body>
</html>