@model LV_DuLichDienTu.Models.BaiViet_DiaDiem

@{
    ViewData["Title"] = "Index_News";
}


<div class="hero-wrap js-fullheight" style="background-image: url('/TourismTemplate/images/bg_4.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
            data-scrollax-parent="true">
            <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                    <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Tin Tức &amp;
                    Du Lịch</h1>
            </div>
        </div>
    </div>
</div>


<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ftco-animate img_Article">
                <h2 class="mb-3">@Model.bvdd_tieude</h2>
                @Html.Raw(Model.bvdd_noidung)
            </div> <!-- .col-md-8 -->



            <div class="col-md-4 sidebar ftco-animate fadeInUp ftco-animated">
                <div class="sidebar-box ftco-animate fadeInUp ftco-animated">
                    <h3>Bài viết gần đây</h3>
                    @{int count = 0;
                        foreach (var item in ViewBag.baiViet_goiY)
                        {
                            if (count ==3)
                            {
                                break;
                            }
                            <div class="block-21 mb-4 d-flex">
                                <a class="blog-img mr-4" style="background-image: url('@item.bvdd_Hinh_duongdan');"></a>
                                <div class="text">
                                    <h3 class="heading"><a href="#">@item.bvdd_tieude</a></h3>
                                    <div class="meta">
                                        
                                    </div>
                                </div>
                            </div>
                            count++;
                        }
                    }
                    
                </div>
            </div>



        </div>
    </div>
</section> <!-- .section -->
