@{
    ViewData["Title"] = "TravellingSchedule";
}
@using Microsoft.AspNetCore.Http;
@using System.Data;
<div class="hero-wrap js-fullheight" style="background-image: url('/TourismTemplate/images/bg_4.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
            data-scrollax-parent="true">
            <div class="col-md-9 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Thông Tin Cá Nhân
                </h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section contact-section ftco-degree-bg" style=" width:700px; margin: 30px auto; border: 1px solid black; border-radius: 15px;">
    <div class="container">
        <div class="row block-9">
            <div class="col-md-12">
                <P style="text-align: center;"> Lịch Trình Du Lịch</P>
                    <div class="form-group chitiet">
                        
                        @{
                            string tempNgay ="";
                            foreach (var item in Model)
                                {
                                    <div>

                                    </div>
                                    
                                    if (item.hd_ngaybatdau.ToString() != tempNgay)
                                    {   
                                        <hr style="width:70%;">
                                        <p></p>
                                        <p>@item.hd_ngaybatdau</p> 
                                        tempNgay = item.hd_ngaybatdau.ToString();
                                    }
                                    <p>Dịch vụ: @item.dichVu.dv_ten</p>
                                    <p>Thành phố:@item.dichVu.dv_tinhthanh </p>

                                    
                                    <button onclick="document.getElementById('PopUp_Rating').style.display='block'" class="w3-button w3-black">Open Modal</button>

                                    <div id="PopUp_Rating" class="w3-modal">
                                        <div class="w3-modal-content">
                                        <div class="w3-container">
                                            <span onclick="document.getElementById('PopUp_Rating').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                                            <form class="rating">
                                                <label>
                                                    <input type="radio" name="stars" value="1" />
                                                    <span class="icon">★</span>
                                                </label>
                                                <label>
                                                    <input type="radio" name="stars" value="2" />
                                                    <span class="icon">★</span>
                                                    <span class="icon">★</span>
                                                </label>
                                                <label>
                                                    <input type="radio" name="stars" value="3" />
                                                    <span class="icon">★</span>
                                                    <span class="icon">★</span>
                                                    <span class="icon">★</span>   
                                                </label>
                                                <label>
                                                    <input type="radio" name="stars" value="4" />
                                                    <span class="icon">★</span>
                                                    <span class="icon">★</span>
                                                    <span class="icon">★</span>
                                                    <span class="icon">★</span>
                                                </label>
                                                <label>
                                                    <input type="radio" name="stars" value="5" />
                                                    <span class="icon">★</span>
                                                    <span class="icon">★</span>
                                                    <span class="icon">★</span>
                                                    <span class="icon">★</span>
                                                    <span class="icon">★</span>
                                                </label>
                                                </form>
                                            <button onclick="document.getElementById('PopUp_Rating').style.display='none'">Quay Lại</button>
                                        </div>
                                        </div>
                                    </div>

                                }
                        }
                    </div>
                    <div class="form-group">
                        <a asp-controller="HopDongs" asp-action="Edit" asp-route-id='@Context.Session.GetString("userID")' class="btn btn-primary py-3 px-5">Cập Nhật Thông Tin</a>
                    </div>

            </div>


        </div>
    </div>
</section>