@model LV_DuLichDienTu.Models.NhaCungCap

@{
    ViewData["Title"] = "Create";
}

<h4>NhaCungCap</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ncc_taikhoan" class="control-label"></label>
                <input asp-for="ncc_taikhoan" class="form-control" />
                <span asp-validation-for="ncc_taikhoan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ncc_matkhau" class="control-label"></label>
                <input asp-for="ncc_matkhau" class="form-control" />
                <span asp-validation-for="ncc_matkhau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ncc_ten" class="control-label"></label>
                <input asp-for="ncc_ten" class="form-control" />
                <span asp-validation-for="ncc_ten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ncc_email" class="control-label"></label>
                <input asp-for="ncc_email" class="form-control" />
                <span asp-validation-for="ncc_email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ncc_dienthoai" class="control-label"></label>
                <input asp-for="ncc_dienthoai" class="form-control" />
                <span asp-validation-for="ncc_dienthoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ncc_diachi" class="control-label"></label>
                <input asp-for="ncc_diachi" class="form-control" />
                <span asp-validation-for="ncc_diachi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dv_id" class="control-label"></label>
                <input asp-for="dv_id" class="form-control" />
                <span asp-validation-for="dv_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">First Name <span
                class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Last Name <span
                class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" id="last-name" name="last-name" required="required"
                class="form-control col-md-7 col-xs-12">
        </div>
    </div>
    <div class="form-group">
        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Middle Name / Initial</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="middle-name">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Date Of Birth <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input id="birthday" class="date-picker form-control col-md-7 col-xs-12" required="required" type="text">
        </div>
    </div>
    <div class="ln_solid"></div>
    <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
            <button class="btn btn-primary" type="button" asp-action="Index">Back</button>
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>

</form>
