@model LV_DuLichDienTu.Models.NhaCungCap

@{
    ViewData["Title"] = "Create";
}

@* <h4>NhaCungCap</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ncc_taikhoan" class="control-label"></label>
                <input asp-for="ncc_taikhoan" class="form-control" />
                <span asp-validation-for="ncc_taikhoan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ncc_matkhau" class="control-label"></label>
                <input asp-for="ncc_matkhau" class="form-control" />
                <span asp-validation-for="ncc_matkhau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ncc_ten" class="control-label"></label>
                <input asp-for="ncc_ten" class="form-control" />
                <span asp-validation-for="ncc_ten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ncc_email" class="control-label"></label>
                <input asp-for="ncc_email" class="form-control" />
                <span asp-validation-for="ncc_email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ncc_dienthoai" class="control-label"></label>
                <input asp-for="ncc_dienthoai" class="form-control" />
                <span asp-validation-for="ncc_dienthoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ncc_diachi" class="control-label"></label>
                <input asp-for="ncc_diachi" class="form-control" />
                <span asp-validation-for="ncc_diachi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dv_id" class="control-label"></label>
                <input asp-for="dv_id" class="form-control" />
                <span asp-validation-for="dv_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div> *@



<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>THÊM NHÀ CUNG CẤP MỚI</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form asp-action="Create" id="demo-form2" data-parsley-validate
                        class="form-horizontal form-label-left">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @* Trường tiêu đề và nhập DATA của địa điểm tên *@
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                <label asp-for="ncc_taikhoan" class="control-label"></label>
                                <span class="required">
                                    *
                                </span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input asp-for="ncc_taikhoan" type="text" id="first-name" required="required"
                                    class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                <label asp-for="ncc_ten"></label>
                                <span class="required">
                                    *
                                </span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input asp-for="ncc_ten" type="text" id="first-name" required="required"
                                    class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                <label asp-for="ncc_matkhau"></label>
                                <span class="required">
                                    *
                                </span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input asp-for="ncc_matkhau" type="text" id="first-name" required="required"
                                    class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                <label asp-for="ncc_email"></label>
                                <span class="required">
                                    *
                                </span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input asp-for="ncc_email" type="text" id="first-name" required="required"
                                    class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                <label asp-for="ncc_dienthoai"></label>
                                <span class="required">
                                    *
                                </span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input asp-for="ncc_dienthoai" type="text" id="first-name" required="required"
                                    class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                <label asp-for="ncc_diachi"></label>
                                <span class="required">
                                    *
                                </span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input asp-for="ncc_diachi" type="text" id="first-name" required="required"
                                    class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>

                        <div class="ln_solid"></div>

                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 items-center">
                                <a asp-action="Index" class="btn btn-success"> Quay lại</a>
                                <button type="submit" class="btn btn-primary">Lưu</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>