@model LV_DuLichDienTu.Models.DichVu

@{
    ViewData["Title"] = "Create";
}

@* <h1>Create</h1>

<h4>DichVu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="dv_ten" class="control-label"></label>
                <input asp-for="dv_ten" class="form-control" />
                <span asp-validation-for="dv_ten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dv_dienthoai_hotro" class="control-label"></label>
                <input asp-for="dv_dienthoai_hotro" class="form-control" />
                <span asp-validation-for="dv_dienthoai_hotro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dv_tinhthanh" class="control-label"></label>
                <input asp-for="dv_tinhthanh" class="form-control" />
                <span asp-validation-for="dv_tinhthanh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dv_quanhuyen" class="control-label"></label>
                <input asp-for="dv_quanhuyen" class="form-control" />
                <span asp-validation-for="dv_quanhuyen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dv_mota" class="control-label"></label>
                <input asp-for="dv_mota" class="form-control" />
                <span asp-validation-for="dv_mota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ckdv_id" class="control-label"></label>
                <input asp-for="ckdv_id" class="form-control" />
                <span asp-validation-for="ckdv_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ncc_id" class="control-label"></label>
                <select asp-for="ncc_id" class ="form-control" asp-items="ViewBag.ncc_id"></select>
            </div>
            <div class="form-group">
                <label asp-for="ldv_id" class="control-label"></label>
                <select asp-for="ldv_id" class ="form-control" asp-items="ViewBag.ldv_id"></select>
            </div>
            <div class="form-group">
                <label asp-for="hd_id" class="control-label"></label>
                <input asp-for="hd_id" class="form-control" />
                <span asp-validation-for="hd_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div> *@

<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>THÊM DỊCH VỤ DU LỊCH MỚI</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form asp-action="Create" id="demo-form2" data-parsley-validate enctype="multipart/form-data"
                        class="form-horizontal form-label-left">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @* Trường tiêu đề và nhập DATA của địa điểm tên *@
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                <label asp-for="dv_ten" class="control-label"></label>
                                <span class="required">
                                    *
                                </span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input asp-for="dv_ten" type="text" id="first-name" required="required"
                                    class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                <label asp-for="dv_dienthoai_hotro"></label>
                                <span class="required">
                                    *
                                </span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input asp-for="dv_dienthoai_hotro" type="text" id="first-name" required="required"
                                    class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                <label asp-for="dv_tieude"></label>
                                <span class="required">
                                    *
                                </span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input asp-for="dv_tieude" type="text" id="first-name" required="required"
                                    class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                <label asp-for="dv_hinh_duongdan"></label>
                                <span class="required">
                                    *
                                </span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @* <input asp-for="hinh_duongdan" type="text" id="first-name" required="required"
                                    class="form-control col-md-7 col-xs-12"> *@
                                <input type="file" name="imageUpload" id="imageUpload" onchange="ShowImgPreview(this, document.getElementById('imagePreview'))"/>
                                <img id="imagePreview" style="width: 200px; height:200px;"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                <label asp-for="dv_tinhthanh">Tỉnh thành </br> Quận huyện</label>
                                <span class="required">
                                    *
                                </span>
                            </label>

                            <div class="col-md-6 col-sm-6 col-xs-12" name="myform" id="myForm">
                                @* Chọn Tỉnh / Thành Phố: *@
                                <select class="form-control col-md-7 col-xs-12 SLTinhThanh"
                                    asp-for="dv_tinhthanh" id="countySel" size="1">
                                    @* disabled không cho chọn dữ liệu mặc định *@
                                    <option value="" selected="selected" disabled>Chọn Tỉnh / Thành Phố</option>
                                </select>
                                @* Chọn Quận/Huyện: *@
                                <select class="form-control col-md-7 col-xs-12 SLTinhThanh" 
                                    asp-for="dv_quanhuyen" id="stateSel" size="1">
                                    <option value="" selected="selected" disabled>Chọn Quận/Huyện</option>
                                </select>
                                @* Chọn xã/phường:
                                    <select class="form-control col-md-7 col-xs-12 " name="district" id="districtSel"
                                    size="1">
                                    <option value="" selected="selected">Chọn xã/phường</option>
                                    </select> *@
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                <label asp-for="dv_mota"></label>
                                <span class="required">
                                    *
                                </span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <textarea id="mota"  asp-for="dv_mota" type="text"
                                class="form-control col-md-7 col-xs-12 "></textarea>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                <label asp-for="ncc_id">Tên nhà cung cấp</label>
                                <span class="required">
                                    *
                                </span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control col-md-7 col-xs-12" asp-for="ncc_id"
                                    asp-items="ViewBag.Select_TenNCC"></select>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                <label asp-for="ldv_id">Tên loại dịch vụ</label>
                                <span class="required">
                                    *
                                </span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control col-md-7 col-xs-12" asp-for="ldv_id"
                                    asp-items="ViewBag.Select_TenLoaiDV"></select>
                            </div>
                        </div>

                        <div class="ln_solid"></div>

                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 items-center">
                                <a asp-action="Index" class="btn btn-success"> Quay lại</a>
                                <button type="submit" class="btn btn-primary"> Tạo</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>