/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  /* margin-bottom: 60px; */
  background-size:contain;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


.text-left{
  text-align: left !important;
}
.normal-text{
  font-weight: 100;
  margin: 0;
}
.items-center{
  text-align: center;
}

.style-table{
  width: 65%;
}

.SLTinhThanh{
  margin-bottom: 10px !important;
}


.login{
 color: #000 !important;

}
.login_content{text-shadow:unset;}
a{
  color: #fff;
}
.nav_menu{
  background-color: #217ac7 !important;
}
h2 a{
  color: #333;
}
.title-text{
  text-align: center;
}

::selection {background:#d3d3d3;color:#555;}
::-moz-selection {background:#d3d3d3;color:#555;}
::-webkit-selection {background:#d3d3d3;color:#555;}