@model LV_DuLichDienTu.Models.CamKetDichVu
@using Microsoft.AspNetCore.Http;
@using System.Data;
@{
    ViewData["Title"] = "Create";
}
@* 
<h1>Create</h1>

<h4>CamKetDichVu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ckdv_noidung" class="control-label"></label>
                <input asp-for="ckdv_noidung" class="form-control" />
                <span asp-validation-for="ckdv_noidung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ckdv_boithuong" class="control-label"></label>
                <input asp-for="ckdv_boithuong" class="form-control" />
                <span asp-validation-for="ckdv_boithuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dv_id" class="control-label"></label>
                <select asp-for="dv_id" class ="form-control" asp-items="ViewBag.dv_id"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div> *@


<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Tạo cam kết dịch vụ</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form asp-action="Create"  id="demo-form2" data-parsley-validate
                        class="form-horizontal form-label-left">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @* Trường tiêu đề và nhập DATA của đường dẫn *@
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                <label asp-for="ckdv_noidung"></label>
                                <span class="required">
                                    *
                                </span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input asp-for="ckdv_noidung" type="text" id="first-name" required="required"
                                    class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                <label asp-for="ckdv_boithuong"></label>
                                <span class="required">
                                    *
                                </span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input asp-for="ckdv_boithuong" type="text" id="first-name" required="required"
                                    class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>

                        @* Trường danh sách chọn dữ liệu mã địa điểm*@
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                <label asp-for="dv_id" class="control-label">Tên dịch vụ</label>
                                <span class="required">*</span>
                            </label>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control col-md-7 col-xs-12" asp-for="dv_id"
                                    asp-items="ViewBag.Select_dv_ten"></select>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 items-center">

                                <a asp-action="Index" class="btn btn-success"> Quay lại</a>
                                <button type="submit" class="btn btn-primary">Lưu</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
