@model LV_DuLichDienTu.Models.CamKetDichVu

@{
    ViewData["Title"] = "Edit";
}

@* <h1>Edit</h1>

<h4>CamKetDichVu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ckdv_id" />
            <div class="form-group">
                <label asp-for="ckdv_noidung" class="control-label"></label>
                <input asp-for="ckdv_noidung" class="form-control" />
                <span asp-validation-for="ckdv_noidung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ckdv_boithuong" class="control-label"></label>
                <input asp-for="ckdv_boithuong" class="form-control" />
                <span asp-validation-for="ckdv_boithuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dv_id" class="control-label"></label>
                <input asp-for="dv_id" class="form-control" />
                <span asp-validation-for="dv_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div> *@

<div class="">
    <div class="row">
        <div class="col-md-10 center-margin">
            <div class="x_panel">
                <div class="x_title">
                    <h2>CHỈNH SỬA CAM KẾT DỊCH VỤ</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <form asp-action="Edit" id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="ckdv_id" />
                        <div class="form-group">
                            <div class="control-label col-md-3 col-sm-3 col-xs-12">
                                <label asp-for="ckdv_noidung"></label>
                                <span class="required">*</span>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input asp-for="ckdv_noidung" class="form-control col-md-7 col-xs-12" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label col-md-3 col-sm-3 col-xs-12">
                                <label asp-for="ckdv_boithuong"></label>
                                <span class="required">*</span>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input asp-for="ckdv_boithuong" class="form-control col-md-7 col-xs-12" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-label col-md-3 col-sm-3 col-xs-12">
                                <label asp-for="dv_id" >Tên dịch vụ</label>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control col-md-7 col-xs-12" asp-for="dv_id" asp-items="ViewBag.selectdv_ten"></select>
                            </div>
                            @* select tên dv cho người dùng chọn *@
                            
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button asp-action="Index" class="btn btn-success"> Quay lại</button>
                                <input type="submit" value="Lưu" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>