@model LV_DuLichDienTu.Models.Hinh_DiaDiemDuLich

@{
    ViewData["Title"] = "Create";
}
@* 
<div class="row">
    <div class="col-md-10 center-margin">
        <div class="x_panel">
            <div class="x_title">
                <h2>Tạo mới hình ảnh địa điểm du lịch</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                <form asp-action="Create" id="demo-form2" data-parsley-validate=""
                    class="form-horizontal form-label-left" novalidate="">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <div class="control-label col-md-3 col-sm-3 col-xs-12">
                            <label asp-for="hinh_duongdan"></label>
                            <span class="required">*</span>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input id="name" asp-for="hinh_duongdan" required="required"
                                class="form-control col-md-7 col-xs-12" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-md-3 col-sm-3 col-xs-12">
                            <label asp-for="dddl_id" class="control-label">Mã địa điểm du lịch</label>
                            <span class="required">*</span>
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="form-control col-md-7 col-xs-12" asp-for="dddl_id"
                                asp-items="ViewBag.dddl_ten"></select>
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button asp-action="Index" class="btn btn-success"> Quay lại</button>
                            <button id="send" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> *@

<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Tạo mới hình ảnh địa điểm du lịch</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form asp-action="Create" id="demo-form2" data-parsley-validate
                        class="form-horizontal form-label-left">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @* Trường tiêu đề và nhập DATA của đường dẫn *@
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                <label asp-for="hinh_duongdan"></label>
                                <span class="required">
                                    *
                                </span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input asp-for="hinh_duongdan" type="text" id="first-name" required="required"
                                    class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        @* Trường danh sách chọn dữ liệu mã địa điểm*@
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                <label asp-for="dddl_id" class="control-label">Mã địa điểm du lịch</label>
                                <span class="required">*</span>
                            </label>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control col-md-7 col-xs-12" asp-for="dddl_id"
                                    asp-items="ViewBag.dddl_ten"></select>
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 items-center">

                                <button asp-action="Index" class="btn btn-success"> Quay lại</button>
                                <button type="submit" class="btn btn-primary">Lưu</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
