@model LV_DuLichDienTu.Models.DiaDiem_DuLich

@{
    ViewData["Title"] = "Create";
}

@* <h1>Create</h1>

<h4>DiaDiem_DuLich</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="dddl_ten" class="control-label"></label>
                <input asp-for="dddl_ten" class="form-control" />
                <span asp-validation-for="dddl_ten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dddl_mota" class="control-label"></label>
                <input asp-for="dddl_mota" class="form-control" />
                <span asp-validation-for="dddl_mota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dddl_tinhthanh" class="control-label"></label>
                <input asp-for="dddl_tinhthanh" class="form-control" />
                <span asp-validation-for="dddl_tinhthanh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hinh_id" class="control-label"></label>
                <input asp-for="hinh_id" class="form-control" />
                <span asp-validation-for="hinh_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bvdd_id" class="control-label"></label>
                <input asp-for="bvdd_id" class="form-control" />
                <span asp-validation-for="bvdd_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div> *@




<div class="">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Thêm địa điểm du lịch mới</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form asp-action="Create" id="demo-form2" data-parsley-validate
                        class="form-horizontal form-label-left">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        @* Trường tiêu đề và nhập DATA của địa điểm tên *@
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                <label asp-for="dddl_ten"></label>
                                <span class="required">
                                    *
                                </span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input asp-for="dddl_ten" type="text" id="first-name" required="required"
                                    class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                <label asp-for="dddl_tinhthanh">Tỉnh thành </br> Quận huyện</label>
                                <span class="required">
                                    *
                                </span>
                            </label>
                            
                            <div class="col-md-6 col-sm-6 col-xs-12" name="myform" id="myForm"> 
                                    @* Chọn Tỉnh / Thành Phố:  *@
                                    <select class="form-control col-md-7 col-xs-12 SLTinhThanh"  name="dddl_tinhthanh" asp-for="dddl_tinhthanh" id="countySel" size="1">
                                        <option  value="" selected="selected">Chọn Tỉnh / Thành Phố</option>
                                    </select> 
                                    @* Chọn Quận/Huyện:  *@
                                    <select class="form-control col-md-7 col-xs-12 SLTinhThanh"  name="dddl_quanhuyen" asp-for="dddl_quanhuyen" id="stateSel" size="1">
                                        <option value="" selected="selected">Chọn Quận/Huyện</option>
                                    </select>
                                    @* Chọn xã/phường: 
                                    <select class="form-control col-md-7 col-xs-12 "  name="district" id="districtSel" size="1">
                                        <option value="" selected="selected">Chọn xã/phường</option>
                                    </select> *@
                            </div>
                        </div>
                        

                        @* Trường tiêu đề và nhập DATA của mô tả địa điểm *@
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                <label asp-for="dddl_mota"></label>
                                <span class="required">*</span>
                            </label>
                            @* Này là form group cho bài viết nhưng chưa làm đc *@
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <textarea asp-for="dddl_mota" type="text" id="first-name" required="required"
                                    class="form-control col-md-7 col-xs-12"></textarea>
                                <div id="alerts"></div>
                            </div>
                        </div>
                        <div class="ln_solid"></div>

                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 items-center">
                                <a asp-action="Index" class="btn btn-success"> Quay lại</a>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>